/* Für Footer */
html, body {
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
}


/* ---------- HEADER -------------- */

header {
	background-color: #4c5775;
	width: 98%;
	margin: auto;
	min-height: 100px;
	padding: 1%;


}
#logo{
	margin-top:10px;
	width:100px;
	height:100px;
}

header img{
	float:left;
	margin-left: 50px;
}


/* -------------- NAVIGATION  ----------- */

header nav {
	margin-top:30px;
	margin-right:200px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #4c5775;
	text-align:center;
}

nav ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:bold;
	text-transform: uppercase;
	display:inline-block;
	padding: 20px;
}



li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {

	color:#16bbf1;
}

li.dropdown {
	display: inline-block;
}

#kontaktformular{
	text-align: left;
	float:left;

}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #4c5775;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#login,#logout,#einstellungen{
	padding:5px;
	border:2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 7em;
}

#login:hover,#logout:hover,#einstellungen:hover
{
	background-color:#16bbf1;

}


/* ---------- MAIN -------------- */

* {
	margin: 0px;

}

main {
	margin-top: 20px;
	margin-left: 70px;
	/* Für Footer */
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -50px;

}

/* Für Footer */
main:after {

	display: block;
	height: 100px;
}

section{
	float:left;
	width: 80%;
}

article{
	padding: 10px;
	margin-top: 50px;
	width: 100%;
	height: 175px;
	float:left;
	background-color: #D3D3D3;
}


/* ---------- UL ASIDE -------------- */

aside{
	overflow: hidden;
	float:right;
	width: 25%;
}

ul#home_side, ul#event_side, ul#myevents_side{


	list-style-type: none;
}
ul#home_side li:nth-child(1){

	height:140px;
	width: 300px;
	text-align: left;
	line-height: 150px;

}



ul#event_side li:nth-child(1){
	margin-top: 35px;
	height:100px;
	width: 300px;
	text-align: left;
	line-height: 150px;





}

ul#myevents_side li:nth-child(1){
	margin-top: 70px;
	height:100px;
	width: 300px;
	text-align: left;
	line-height: 150px;
}

ul#event_side li:nth-child(2){
	margin-top: 20px;
	height:240px;
	width: 300px;
	text-align: center;
	line-height: 150px;
	border: solid 1px #000000;
}


/* ------------ FOOTER ---------------- */


footer {
	background: #4c5775;
	padding: 1%;
	width: 98%;
	height: 100px;
}


footer p, footer h3 {
	color: #FFF;
	padding-top: 20px;
	line-height: 15px;
}

footer p a {
	color: #fff;
	text-decoration:none;
}

footer a:hover {
	color: #fff;
}

/*  SECTION FOOTER   */
main section {
	margin: 0 auto;
	text-align:left;
	width: 40%;
	float: left;
	line-height: 1.5em;
	margin-top: 30px;
	margin-right: 120px;
}


footer section {
	margin: 0 auto;
	text-align:center;
	width: 25%;
	float: left;
	line-height: 1.5em;
	margin-top: 30px;
}

footer section p {
	text-align:center;
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	font-size: 14px;
}

ul.social li {
	display: inline;
}


ul.social li img {
	height: 30px;
	padding-top: 15px;
}

/* ------------ Events ---------------- */
#event_side2{
	position: absolute;
	top: 380px;
	right:100px;
}
#myevents_side {
	position: absolute;
	top: 209px;
	right: 50px;
}
#settingse{
	list-style:none;
}
.settingse{
	margin-top:5px;
}
table{
	position: absolute;
	margin-top: 100px;

	border-collapse: collapse;
	border: solid 1px #000000;
}
th {
	width: 133px;
	height: 40px;
	border: solid 1px #000000;
}
td {
	height: 40px;
	border: solid 1px #000000;
}


/* ------------ Formular ---------------- */
.regform{
	margin: 10px 0px 10px 0px;
	width: 70%;
	display:block;
}

fieldset{
	width: 600px;
	float:left;
	border: 0px;
	display:block;
}

.form {
	margin: 10px 0px 10px 0px;
	width: 70%;
	display:block;
}

#Spieltitel{
	display:block;
}
.text{

	margin-top:5px;
}
.plattform{
	display: inline;
}

#ps4{
	margin-left:14px;
}
fieldset:nth-child(4){
	width:60%;
}
fieldset:nth-child(5){
	width:60%;
}
input#beschreibung{
	height:80%;
	width:100%;
}
input#löschen{
	height:20px;
	width:150px;
}
input#erstellen{
	height:20px;
	width:150px;
}

input#be_erstellen{
	height:25px;
	width:200px;
}
input#e_erstellen{
	height:25px;
	width:200px;
}
#abbrechen{
	width:120px;
	margin-right:20px;
}
#erstellenf{
	width:120px;
}
#searchform{
	margin-top:0px;
}
/* ------------Tabelle-----------------*/

table { border-collapse: collapse;
	border-bottom: solid 3px #4C5774;
}
th {
	padding:  10px;
	text-align: left;
	background-color: #4C5774;
	float: left;
	width: 115px;
	color: white;
	border-right: solid 1px #4B4F72;
	word-break:break-all;
	word-wrap:break-word
}

td {
	text-align: left;
	padding: 10px;
	float: left;
	width: 115px;
	border-right: solid 1px #4B4F72;
	word-break:break-all;
	word-wrap:break-word
}


tr {
	width: 90px;
	word-break:break-all;
	word-wrap:break-word
}

 
tr:nth-child(even){
	background-color: #cccccc;
}
	
tr:nth-child(odd){
	background-color: #eeeeee;
}

tr:hover td {
	background-color: #4B4F72;
	color: white;
}
	
td:nth-child(2)::first-letter {
	font-weight: bold
}
#event_side{
	position: absolute;
	top: 0px;
	right:100px;
}


#events-anzeigen2{
	position:absolute;
	top:260px;
	left:70%;
	width:280px;
}
#upcoming{
	position: absolute;
	right:25px;
	top:115px;
}

/* -------------Login------------------*/
.popup{
position: absolute; 
margin: 0; 
margin-left:25%;
margin-top: 50px; 
padding-top: 10px; 
width: 40%; 
height: 30%; 
background:  #4c5775; 
font-family: Arial, Helvetica, sans-serif;
color: white;
text-align:center;
border-radius:40px;
border: solid 1px ;
}

.login {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 16px;
	font-weight:bold;
	background:  #4c5775;
	border:none;
	cursor:pointer;
}

#passwortl{
	margin-top: 5px;
	margin-bottom:5px;
}
#loginb{
	margin-top:5px;
}

#close{
position:absolute;
top:15px;
right:15px;
font-weight: bold;
}

.regi {
	
	width: 60%;
	
}

#map {

	margin-top: 50px;
	width: 750px;
	height: 222px;
	float:left;
	background-color: #D3D3D3;

}

	/* -------------Registrieren------------------*/
.reg{
	margin-top:5px;
	margin-bottom:5px;
}

	/* -------------Settings------------------*/
#settings{
	position: absolute;
	left:40%;
	top:350px;
	width:300px;

}
#settingsdb{
	position: absolute;
	left:40%;
	top:300px;
}